name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create env files
        run: |
          cat <<EOF > spotifyActionService/spotify.env
          SPOTIFY_CLIENT_ID=${{ secrets.SPOTIFY_CLIENT_ID }}
          SPOTIFY_CLIENT_SECRET=${{ secrets.SPOTIFY_CLIENT_SECRET }}
          EOF

      - name: Decrypt actions.json
        run: |
          gpg --quiet --batch --yes \
            --passphrase "${{ secrets.GPG_PASSPHRASE }}" \
            --pinentry-mode loopback \
            --output spotifyActionService/actions.json \
            --decrypt spotifyActionService/actions.json.gpg

      - name: Setup Environment
        run: bash scripts/setup.sh

      - name: Run Build
        run: just build
        
      - name: Validate Actions file
        run: |
          python spotifyActionService/src/logic/actionValidator.py spotifyActionService/actions.json
