name: Publish to PyPI
on:
  push:
    tags: ["v*"]  # trigger on tags starting with "v"
    branches: [ master ]
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/spotifyActionScheduler
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install build tools
        run: pip install build setuptools wheel
      - name: Build distribution
        run: python -m build  # creates wheel and sdist in dist/ 
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: spotifyActionService/
